<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Page accueil</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons Fortnite -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Fichier CSS Vendor -->
  <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- CSS Main -->
  <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/accueil"><span>Asim</span>ov</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <% if (user) { %>
            <form action="/deconnexion" method="POST">
              <button type="submit">Déconnexion</button>
            </form>
            <% } else { %>
              <a href="/connexion">Connexion</a>
              <% } %>


                <li class="dropdown"><a href="#"><span>Stage</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="/statusStage" class="active">Status stage</a></li>
                    <li><a href="/convStage">Remplir convention stage</a></li>
                    <li><a href="testimonials.html">Déposer attestation de stage</a></li>
                  </ul>
                </li>

                <li><a href="/moyenne">Vos Notes</a></li>
                <li><a href="pricing.html">Professeur référent</a></li>
                <li><a href="blog.html">Elève référent</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/Savoir_plus">En savoir plus</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../assets/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Bienvenue dans votre espace élève du collège ASIMOV</h2>
              <p>Vous pouvez consulter vos notes et moyennes de vos matières. Vous pouvez aussi visualisez vos
                enseignants référents et bien plus encore !</p>
              <div class="text-center"><a href="" class="btn-get-started">Voir plus</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(../assets/img/slide/slide-2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Mais encore...</h2>
              <p>Consultez votre progression dans votre recherche de stage. Créer votre convention de stage. Déposer
                votre attestation de stage.</p>
              <div class="text-center"><a href="" class="btn-get-started">Voir plus</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(../assets/img/slide/slide-3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Et enfin</h2>
              <p>Visualiser l'avancement de vos projets, leur durée etc..</p>
              <div class="text-center"><a href="" class="btn-get-started">Voir plus</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>


</body>

</html>